/*   color variables */
$clr-gray100: #f0f7f8;
$clr-gray200: #cfd8dc;
$clr-gray300: #a7b7be;
$clr-gray400: #6b7e86;
$clr-gray500: #425a65;

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 10%;
    justify-content: center;
  
    & > * {
      border: none;
      background-color: white;
      box-shadow: 0px 0px 10px $clr-gray200;
      font-weight: bold;
      font-size: 2rem;
      color: inherit;
      border-radius: 50%;
      outline: none;
      height: 7rem;
      width: 7rem;
      cursor: pointer;
      transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;
  
      &:hover {
        background-color: $clr-gray200;
      }
  
      &:active {
        transform: scale(0.9);
      }
  
      &:focus {
        box-shadow: 0 0 0 3px $clr-gray500;
      }
    }
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  